.todo {
    background: #fff;
    padding: 10px;
    font-size: 0.8rem;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.button {
    border: none;
    padding: 5px;
    font-size: 0.5rem;
    cursor: pointer;
    height: 20px;
    width: auto;
    font-size: 1.1rem;
    background-color: inherit;
}

.button:focus {
    outline: none;
}

.complete {
    text-decoration: line-through;
}